<div class="banner banner-w-upload d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @image_url %>);">
  <button type="button" class="btn btn-link upload-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="fa-solid fa-arrow-up-from-bracket"></i>
  </button>
  <%= render "upload-modal", list: @list %>
  <div class="container container-banner">
      <h1><strong>Your List</strong></h1>
      <p><%= @list.name %></p>
  </div>
</div>

<div class="container mt-5 mb-5">
  <%= link_to "Create new bookmark", new_list_bookmark_path(@list), class: "btn btn-success" %>
  <div class="d-flex flex-column">
    <div class="flex-grow-1">
      <div class="cards mt-3">
        <% @list.bookmarks.each do |bookmark| %>
        <div class="card-trip">
          <img src=<%= Movie.find(bookmark.movie_id).poster_url %> />
          <div class="card-trip-infos">
            <div>
              <h2><%= Movie.find(bookmark.movie_id).title %> - <%= Movie.find(bookmark.movie_id).rating %> <i class="fa-solid fa-star"></i></h2>
              <p><%= Movie.find(bookmark.movie_id).overview %></p>
            </div>
          </div>
          <div class="card-trip-infos">
            <blockquote class="blockquote-footer"><i class="fa-solid fa-quote-left"></i> <%= bookmark.comment %></blockquote>
            <%= link_to "Delete",
                bookmark_path(bookmark),
                class: "btn btn-outline-danger btn-sm",
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
            %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
