<div class="banner d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1561865406-62a037159577?w=1600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Ym9va21hcmt8ZW58MHx8MHx8fDA%3D);">
  <div class="container">
    <h1><strong>Create a new bookmark</strong></h1>
  </div>
</div>

<div class="container mt-5">
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.association :list %>
    <%= f.submit %>
  <% end %>
</div>
